
h1 {
    margin: 0;
    font-size: 24px;
}
.container {
    margin: 20px;
}
.notification {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 6px solid #333;
}
.notification h2 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
}
.notification p {
    margin: 0;
    font-size: 14px;
}
.notification.success {
    border-left-color: #4CAF50;
}
.notification.info {
    border-left-color: #2196F3;
}
.notification.warning {
    border-left-color: #ff9800;
}
.notification.error {
    border-left-color: #f44336;
}
button{
    margin-top: 1%;
}
a{
    text-decoration: none;
    color: black;
}